
/* .App{
  width: 100%;
} */

.container-fluid{
    border: 1px solid red;
    margin: 0;
    padding: 0;
  }
  .left{
    border: 1px solid green;
    background-color: #303960;
  }
  
  .insurl{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 70px;
  }
  .wrapper{
    border: 1px solid white;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 20px;
  }
  .dashboard{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    
    /* background-color: #F88600; */
  }
  .pocilies{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    /* background-color: #F88600; */
  }
  .profile{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  .withdrawal{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  .support{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  .settings{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  .right{
   background-color: #F4F8FB;
  }
  .pocilies .span{
    /* padding-left: 20px; */
    padding-right: 10px;
  }
  .dashboard .span{
    /* padding-left: 20px; */
    padding-right: 10px;
  }

  .pocilies  a{
    color: #FFFFFF; 
    text-decoration: none;
    
  }
  .pocilies  Button:hover{
   background-color: #F88600;; 
  }
  .dashboard  Button:hover{
    background-color: #F88600;; 
   }
  .dashboard  a{
    /* background-color: #F88600; */
    color: #FFFFFF;
    text-decoration: none;
  }
  